{% extends "base.html.twig" %}

{% block title %}
	Blog Eindopdracht
{% endblock %}

{% block navAuthor %}
	<a href={{ base_path ~ '/author/' ~ authorName ~ '/create'}} class="nav-a">Create post</a>
{% endblock %}

{% block content%}
	<h1>Posts by
		{{ author }}</h1>
	<section>
		<div>
			<a href="{{ base_path ~ '/author/' ~ author ~ '/sort/newOld' }}" class="sort-link" {% if sort == 'newOld' %} style="font-weight: bold;" {% endif %}>Newest First</a>
			|
			<a href="{{ base_path ~ '/author/' ~ author ~ '/sort/oldNew' }}" class="sort-link" {% if sort == 'oldNew' %} style="font-weight: bold;" {% endif %}>Oldest First</a>
			|
			<a href="{{ base_path ~ '/author/' ~ author ~ '/sort/authorAbc' }}" class="sort-link" {% if sort == 'authorAbc' %} style="font-weight: bold;" {% endif %}>Author (A-Z)</a>
			|
			<a href="{{ base_path ~ '/author/' ~ author ~ '/sort/authorZyx' }}" class="sort-link" {% if sort == 'authorZyx' %} style="font-weight: bold;" {% endif %}>Author (Z-A)</a>
		</div>

		{% for post in posts %}
			<article>
				<h2>{{ post.title }}
				</h2>
				<p>
					Author:
					{{ post.author }}
				</p>
				<p>
					Publication:
					{{ post.publication }}
				</p>
				<p>
					{{ post.content }}
				</p>
			</article>
			<a href=' {{ base_path }}/author/{{ post.author }}/edit/{{ post.filename }}'>Edit</a>
		{% else %}
			<p>No posts available.</p>
		{% endfor %}
		<p>
			{% if pageNumber > 1 %}
				<a href='{{ base_path ~ '/author/' ~ author ~ (search ? '/search/' ~ search : '') ~ (categories ? '/categories/' ~ categories : '') ~ (sort ? '/sort/' ~ sort : '') ~ '/page/' ~ (pageNumber - 1) }}'>Previous page</a>
			{% endif %}
			<span>{{ pageNumber }}</span>
			{% if hasMoreFiles %}
				<a href='{{ base_path ~ '/author/' ~ author ~ (search ? '/search/' ~ search : '') ~ (categories ? '/categories/' ~ categories : '') ~ (sort ? '/sort/' ~ sort : '') ~ '/page/' ~ (pageNumber + 1) }}'>Next page</a>
			{% endif %}
		</p>

	</section>
{% endblock %}
