{% extends "base.html.twig" %}
{% block title %}
	{{ post.post.title }}
{% endblock %}
{% block content %}
	<article>
		<section>
			<h1>{{ post.post.title }}</h1>
			<p>Author -
				{{ post.post.author }}</p>
			<p>Publication -
				{{ post.post.publication }}</p>
			<p>{{ post.post.content }}</p>
		</section>
		<section>
			{% for comment in post.comments %}
				<p>Content -
					{{ comment.content }}</p>
				<p>Date -
					{{ comment.publication }}
					- Author -
					{{ comment.author }}</p>
			{% else %}
				<p>No comments yet.</p>
			{% endfor %}
		</section>
	</article>
{% endblock %}
